/* Fonts
---------------------------------------------------------------*/

/* Global
---------------------------------------------------------------*/
/* .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; } */

.avatar { 
	border: 1px solid #ddd; 
	height: auto;
	max-width: 100%;
	padding: 5px; 
	width: 100%;
}

.block:before, 
.block:after { display: table; line-height: 0; content: ""; clear: both; }

/* .center { width: 80%; margin: 0 auto; } */

.fixed-center { margin: 0 auto; width: 960px; }

/* Header
---------------------------------------------------------------*/

/* Body
---------------------------------------------------------------*/

/* Settings */
.update-page .well { margin-bottom: 0; }

/* Export */


/* Footer
---------------------------------------------------------------*/

/* Media Queries
---------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) { }

@media only screen and (min-width:1280px) { }

/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }
 
/* Landscape phones and down */
@media (max-width: 480px) { }

/* CSS Hacks
---------------------------------------------------------------*/
